@import "./assets/styles/mixin";
@import "./assets/styles/variables";
@import "./assets/styles/function";
@import "./assets/styles/intro-page";
@import "./assets/styles/panel";
@import "./assets/styles/main-page";
@import "./assets/styles/timeline";
@import "./assets/styles/skills";
@import "./assets/styles/expertise";
@import "./assets/styles/portfolio";
@import "./assets/styles/contact";
@import "./assets/styles/feedback";
@import "./assets/styles/layout";
@import "./assets/styles/reset";

body {
  @include fonts(getFont(), $textFontSize, $textFontWeight, $textCol);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2 {
  @include fonts(
    getFont(),
    $mainHeadingFontSize,
    $headingFontWeight,
    $headingCol
  );
  line-height: 30px;
  margin-bottom: 30px;
  margin-top: 60px;
}

/* Photobox */
.photo-box {
  @include flexContainer($direction: column, $align: center);
  padding-top: 25px;
  margin-bottom: 50px;

  &__name {
    color: $mainCol;
    margin: 0px;
  }

  &__avatar {
    @include dimensions(100px, auto);
    margin-bottom: 10px;
  }
}

/* About section */
.about__heading {
  margin-top: 20px;
}
.about__text {
  line-height: 21px;
}

/*Button*/

.button {
  background-color: $asideCol;
  color: $mainCol;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
}

.aside .button:hover {
  background-color: $headingCol;
}

.button .button__icon {
  color: $mainCol;
}

.main-container-button .button__icon {
  display: flex;
  justify-content: center;
}

.aside #aside-button_left {
  @include absolutePosition(auto, auto, 0, 0);
  margin-left: 25%;
  margin-bottom: 5px;
}
