* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  margin: 0 15px;
  position: relative;
}

/*Intro Page*/
.intro-page {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.intro-page__background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.intro-page__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro-page__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00000097;
  z-index: 0;
}
.intro-page__content .photo-box {
  margin-bottom: 20px;
}
.intro-page__content .photo-box .photo-box__name {
  font-size: 40px;
  margin-bottom: 15px;
}
.intro-page__content .photo-box .photo-box__avatar {
  width: 150px;
}
.intro-page__content .photo-box .photo-box__title {
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
  font-weight: 600;
}
.intro-page__content .photo-box .photo-box__description {
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 21px;
}
.intro-page__content .button {
  display: block;
  margin: auto;
}
.intro-page__content .button:hover {
  background-color: #26c17e;
}
.intro-page__button {
  text-decoration: none;
}
/*Aside*/

.aside {
  background-color: #222935;
  max-width: 250px;
  position: relative;
}

h1,
h2 {
  margin-bottom: 30px;
  margin-top: 60px;
}

nav {
  width: 250px;
}

.nav-bar__list {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  gap: 30px;
  /* background-color: #222935; */
  margin-left: 20px;
}
.main-container-button--nav {
  display: flex;
  position: absolute;
  top: 20px;
  left: 250px;
  border-radius: 0;
}
.main-container-button--left-aligned {
  position: absolute;
  top: 20px;
  border-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

nav .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.main-container-button--nav .button__icon {
  font-size: 20px;
  padding: 0px 3px;
}
.aside--hidden {
  display: none;
}

/*Contact*/
.contact-ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-family: "Open Sans";
  font-size: 16px;
  color: #222935;
  display: flex;
  justify-content: center;
}
.contact-ul p {
  color: #000;
  font-weight: 700;
}
.contact-ul span {
  font-weight: 400;
}

.contact-ul .contact-list_item .item {
  font-weight: bold;
}

.email,
.phone {
  font-weight: bold;
}

ul li {
  list-style: none;
  color: #667081;
}

.nav-bar__icon {
  font-size: 15px;
  margin-right: 15px;
}

.nav-bar__link {
  text-decoration: none;
  color: #667081;
  transition: color 0.3s ease;
}

.nav-bar__link:hover {
  color: #26c17e;
}

h1,
h2 {
  font-size: 25px;
  color: #26c17e;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
}

.layout-section {
  display: flex;
  position: relative;
}

main {
  margin: 20px;
  margin-bottom: 0;
}

.photo-box__avatar {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}
.photo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 50px;
}

.photo-box__name {
  color: #fff;
  margin: 0px;
}

/* About section */
.about__heading {
  margin-top: 20px;
}
.about__text {
  line-height: 21px;
}

/* Timeline Section */

.education {
  height: 100%;
}
.education__timeline {
  padding: 20px;
  height: 30vh;
  max-height: 80vh;
}

.education__timeline-container {
  height: 100%;
  overflow-y: auto;
}

.education__timeline-event {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.timeline-event__date {
  font-weight: bold;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline-event__details {
  position: relative;
  flex: 1;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px;
}
.timeline-event__arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #eee;
  top: 15px;
  left: -10px;
}
.timeline-event__line {
  margin-top: 20px;
  width: 3px;
  height: 100px;
  background-color: #26c17e;
}

.timeline-event__title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}
.timeline-event__text {
  color: #555;
}

/* 
Experience section
*/

.expertise__item {
  font-family: "Open Sans";
  margin-bottom: 50px;
  position: relative;
}
.expertise__info {
  display: grid;
  grid-template-columns: 130px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.expertise__info-company {
  font-weight: 700;
  justify-self: start;
  align-self: baseline;
}

.expertise__info-description {
  grid-column: 2;
  margin-top: 5px;
}

.expertise__info-job,
.expertise__info-company {
  font-weight: 700;
  font-size: 16px;
}

.expertise__date {
  position: absolute;
  top: 27px;
  left: 0;
  color: #667081;
}
/* Portfolio section */

.portfolio__container {
  margin: 20px;
}

.portfolio__filter {
  margin-bottom: 20px;
  display: block;
}

.portfolio__filter button {
  margin-right: 10px;
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}

.portfolio__filter button:hover {
  color: #26c17e;
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item {
  border: 1px solid #ccc;
  transition: all 0.3s ease;
  display: flex;
  margin-right: 30px;
}

.portfolio-item__image {
  width: 200px;
}

.portfolio__filter .active {
  color: #26c17e;
}

.portfolio__title,
.portfolio__content,
.portfolio__link {
  margin-bottom: 5px;
}

.portfolio__info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #ffffffdb;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.portfolio-item:hover .portfolio__info {
  padding: 15px;
  height: 100%;
}

/*Contact section */

.contact-icon {
  font-size: 25px;
  color: #26c17e;
}
.contact-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.contact-list_item {
  display: flex;
  gap: 20px;
}
.contact-list_item {
  cursor: pointer;
  text-decoration: none;
  color: #007bff;
  color: #000;
}

.contact-list_item:hover {
  text-decoration: underline;
}

.item {
  display: inline-block;
  margin-right: 15px;
}

/* Feedback section */

.feedback-item {
  margin-bottom: 40px;
}
.feedback-text {
  background-color: #eee;
  padding: 15px;
  font-size: 14px;
}

.feedback-reporter {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}
.reporter-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.author-details {
  font-size: 14px;
}
.author-name {
  margin-right: 5px;
}
.citeurl-link {
  text-decoration: none;
  color: #26c17e;
}

/*Button*/

.button {
  background-color: #222935;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  padding: 10px 20px;
}

.aside .button:hover {
  background-color: #26c17e;
}

.button .button__icon {
  margin-right: 5px;
  color: #ffffff;
}

.aside #aside-button_left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 25%;
  margin-bottom: 5px;
}

.main-container-button .button {
  text-align: center;
  padding: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.main-container .main-container-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
}

.main-container-button .button__icon {
  margin: auto;
}

@media only screen and (max-width: 800px) {
  .portfolio__items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .portfolio-item {
    margin-bottom: 20px;
    margin-left: 20%;
  }

  .portfolio-item__image {
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .intro-page__background-image {
    object-fit: fill;
  }
  .intro-page__content .photo-box .photo-box__description {
    margin: 10px 20px;
  }
  .intro-page__content .photo-box .photo-box__name {
    font-size: 35px;
  }
  .aside,
  .nav-ul {
    width: 50px;
  }
  aside .button {
    padding: 5px;
    margin: auto;
    margin-right: 0;
    display: flex;
    justify-content: center;
  }
  aside .button .button__icon {
    margin-right: 0;
  }
  aside .button__text {
    display: none;
  }
  .aside .photo-box .photo-box__avatar {
    width: 30px;
    margin-bottom: 10px;
  }
  .aside .photo-box .photo-box__name {
    display: none;
  }
  .nav-bar__link span.icon svg {
    width: 14px;
  }

  .nav-bar__link .nav-bar__label {
    display: none;
  }
  .nav-button {
    left: 50px;
  }
  .main-container-button--nav {
    position: absolute;
    top: 20px;
    left: 50px;
    border-radius: 0;
  }
  .main-container-button--nav .button__icon {
    font-size: 16px;
    padding: 0px 3px;
  }

  .education__timeline {
    padding: 20px;
    height: 80vh;
  }
}
